.sobre {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 32px 16px 0px 16px;
}
.sobre-texto {
    width: 100%;
    display: flex;
}
.sobre-texto p {
    text-align: center;
}
.info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.info h3 {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    padding: 12px 0px 16px 0px;
}
.status {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.status {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    border-bottom: none;
}
.contexto {
    grid-column: 3;
    grid-row: 1;
    background-color: var(--cor-A2);
    display: grid;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    max-height: 350px;
}
.contexto h2 {
    grid-column: 1/-1;
    text-align: center;
    padding: 50px;
}
.contexto h3 {
    padding: 20px;
    grid-column: 1;
    text-wrap: nowrap;
}
.contexto p{
    min-width: 20ch;
}
