.fazenda {
    text-align: center;
    grid-column: 1;
}
.ficha {
    background-color: var(--cor-A2);
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 5px 10px;
    justify-items: center;
}
.ficha dd p {
    text-align: left;
}
.descricao {
    background-color: var(--cor-A2);
    border-radius: 10px;
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    max-width: 40ch;
    padding: 20px;
    position: relative;
}
@media(max-width: 700px) {
    .descricao {
        font-size: 0.9rem;
    }
}
.descricao.off {
    display: none;
}
.fake {
    content: "";
    width: 0px;
    height: 0px;
    top: 1100px;
    position: absolute;
}